.movieCardLink {
    display: block;
}

.movieCard {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    height: 432px;
}

.movieCardPoster {
    position: relative;
    height: 320px;
    width: 100%;
}

.movieCardPoster img {
    object-fit: cover;
}

.movieCardContent {
    padding: 16px;
}

.movieTitle {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.movieInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #4b5563;
}

.movieRating {
    display: flex;
    align-items: center;
}

.movieRatingIcon {
    width: 16px;
    height: 16px;
    color: #eab308;
    margin-right: 4px;
}
